.nothing {
  text-align: center; /* Выравнивание текста по центру внутри элемента */
  
  display: inline-flex; /* Элемент становится flex-контейнером, но ведет себя как inline-элемент (не занимает всю ширину) */
  
  position: relative; /* Позволяет смещать элемент относительно его обычного положения */
  
  top: 300px; /* Смещает элемент вниз на 300 пикселей относительно его обычного положения */
  
  justify-content: center; /* Выравнивает содержимое внутри flex-контейнера по центру по горизонтали */
  
  vertical-align: middle; /* Выравнивает элемент по вертикали относительно соседних inline или inline-block элементов */
}
