/* Стили для заголовков h1 и h2 */
h1, h2 {
    text-align: center; /* Выравниваем текст заголовков по центру */
    color: white; /* Устанавливаем белый цвет текста */
}

/* Стили для секции "delivery-section" */
.delivery-section {
    max-width: 600px; /* Ограничиваем максимальную ширину блока до 600px */
    vertical-align: middle; /* Выравниваем элемент по вертикали (но этот стиль работает только для inline или table-cell) */
    top: 100px; /* Смещаем блок вниз на 100px */
    position: relative; /* Позволяет позиционировать элемент относительно его стандартного положения */
    margin: 0 auto; /* Центрируем элемент по горизонтали */
    padding: 20px; /* Добавляем внутренние отступы */
    border-radius: 10px; /* Закругляем углы блока */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень с небольшим размытие для эффекта объема */
    text-align: center; /* Выравниваем весь текст внутри блока по центру */
}

/* Стили для списка */
ul {
    max-width: 400px; /* Ограничиваем максимальную ширину списка до 400px */
    display: inline-block; /* Делаем список блочным элементом, но он ведет себя как inline */
    text-align: left; /* Выравниваем текст внутри списка по левому краю */
    list-style-type: "🎯 "; /* Задаем нестандартный стиль маркеров — эмодзи 🎯 */
    color: white; /* Устанавливаем белый цвет текста */
}
