/* Стили для заголовка h1 */
h1 {
    text-align: center; /* Выравнивание текста заголовка по центру */
    color: white; /* Устанавливаем белый цвет текста */
}

/* Стили для контейнера .container */
.container {
    max-width: 800px; /* Ограничиваем максимальную ширину контейнера до 800 пикселей */
    vertical-align: middle; /* Выравнивание контейнера по вертикали (но работает только для inline или table-cell элементов) */
    top: 100px; /* Смещаем контейнер вниз на 100 пикселей */
    position: relative; /* Позволяет позиционировать элемент относительно его обычного положения */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
    padding: 20px; /* Добавляем внутренние отступы по 20px со всех сторон */
    border-radius: 10px; /* Закругляем углы контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем легкую тень вокруг контейнера для объема */
}

/* Стили для списка ul */
ul {
    list-style-type: "✅"; /* Устанавливаем пользовательский маркер списка (эмодзи галочки) */
    padding-left: 20px; /* Добавляем отступ слева, чтобы не прилипал к краю контейнера */
}

/* Стили для заголовка h2 и элементов списка li */
h2, li {
    color: white; /* Устанавливаем белый цвет текста для заголовков h2 и списка li */
}
